<div class="elem">
    <div *ngIf="group">
        <div class="group-name">{{group.name | uppercase}}</div>
        <div class="container">
            <div class="row position-item">
                <div class="col-12 group-name__button">
                    <button class="button-link" routerLink="/dashboard" type="submit">
                        <div class="button-return">back</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-music-panel
        (updatePlayListEvent)="playListService.updatePlayList"
        [playListArray]="playListService.getActualPlayList()"
        [songs]="songService.getSongs(group.id)"
>
</app-music-panel>
