<div class="pt-4 bg-white my-md-5 pt-md-5 border-top shadow-lg">
    <div class="row">
        <div class="col-6 footer-list">
            <ul class="list-unstyled">
                <li>
                    <a class="link-developer" href="https://vk.com/nefedov_m">
                        <div class="developer">Developer</div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-6 footer-list">
            <ul class="list-unstyled">
                <li>
                    <a class="link-assistant" href="https://www.itschoolsaransk.ru/">
                        <div class="assistant">Assistant</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
