<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-lg">
    <h1 class="my-0 mr-md-auto font-weight-normal title-header">{{title}}</h1>
    <nav class="my-2 my-md-6 header-item">
        <button type="submit" class="p-2 header-item__dashboard" routerLink="/dashboard">
            <div class="text-dashboard">Dashboard</div>
        </button>
        <button type="submit" class="p-2 header-item__groups" routerLink="/groups">
            <div class="text-groups">Groups</div>
        </button>
    </nav>
</div>

