<div class="elem">
<div *ngIf="group">
  <div class="group-name">{{group.name | uppercase}}</div>
    <div class="container">
      <div class="row position-item">
        <div class="group-name__label col-6">
          <label>name:
            <input class="group-name__input" [(ngModel)]="group.name" placeholder="name"/>
          </label>
        </div>

        <div class="col-6 group-name__button">
          <button class="button-link" type="submit" routerLink="/dashboard">to return</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-music-panel
        [playListArray]="groupService.getActualPlayList()"
        [songs]="groupService.getSongs(group.id)"
        (updatePlayListEvent)="groupService.updatePlayList"
>
</app-music-panel>

