.button-play {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 1em;
    margin-bottom: 1em;
}

.button-pause {
    margin-top: 1em;
    margin-bottom: 1em;
}

.button-stop {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
}

.play,
.pause,
.stop {
    background-color: #324062;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.add-playlist {
    background-color: #1c3985;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.my-songs-name,
.my-songs-playlist {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.block-my-songs {
    margin-top: 1em;
    border: 3px solid #324062;
    border-radius: 5px;
    background-color: #e2e2e2;
    box-shadow: 0 0 10px;
}

.block-my-playlist {
    margin-top: 1em;
    border: 3px solid #324062;
    border-radius: 5px;
    background-color: #e2e2e2;
    box-shadow: 0 0 10px;
}

.my-song {
    padding-left: 1.05em;
    padding-right: 1.05em;
}

.block-menu {
    border: 3px solid #324062;
    border-radius: 5px;
    background-color: #e2e2e2;
    box-shadow: 0 0 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.list-my-songs,
.list-my-playlist {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1em;
    cursor: pointer;
}

.my-songs-name,
.my-songs-playlist {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0,
    #cad5e2 2px 2px 0, #cad5e2 2px 2px 0,
    #cad5e2 3px 3px 0;
    font: bold 1.5em Arial, sans-serif;
}

.add-playlist {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-song,
.delete-song {
    background-color: #324062;
    border: 1px solid #000000;
    border-radius: 5px;
    color: white;
    padding: 0 40px 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 4px;
    cursor: pointer;
}

.add-song__element {
    padding-bottom: 0.2em;
}

.delete-song__element {
    padding-bottom: 0.2em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.header-scroll,
.header-volume {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0,
    #cad5e2 3px 3px 0, #cad5e2 4px 4px 0,
    #cad5e2 5px 5px 0;
    font: bold 1em Arial, sans-serif;
    color: #324062;
}

.position-scroll-bar {
    padding-top: 1em;
}

.position-scroll-volume {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.block {
    display: flex;
    flex-direction: column;
}

.delete-song:hover,
.add-song:hover,
.play:hover,
.pause:hover,
.stop:hover {
    background-color: #9fb1f4;
}

.delete-song:disabled,
.add-song:disabled,
.play:disabled,
.pause:disabled,
.stop:disabled {
    background-color: #9fb1f4;
    color: #9fb1f4;
    cursor: auto;
}

.add-playlist:hover {
    background-color: #5c5cd4;
}

.add-playlist:disabled {
    background-color: #fffa63;
    color: #ef00d6;
    cursor: auto;
}

.text-playlist {
    font-size: 15px;

}

.volume-song {
    padding-bottom: 0.5em;
}

.scroll-bar[type=range] {
    -webkit-appearance: none;
    width: 800px;
}

.scroll-bar[type=range]:focus {
    outline: none;
}

.scroll-bar[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 1px 1px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 4px;
    border: 0.2px solid #010101;
}

.min {
    margin-right: 5px;
    font-weight: bold;
}

.max {
    margin-left: 5px;
}

.time-begin {
    margin-right: 5px;
}

.time-end {
    margin-left: 5px;
}

.time-begin,
.time-end,
.max {
    font-weight: bold;
}

.scroll-bar[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 1px 1px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

.scroll-bar[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

@media (max-width: 2560px) {
    .block-menu {
        width: 955px;
    }

    .button-play,
    .button-pause,
    .button-stop,
    .button-add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .play,
    .pause,
    .stop,
    .add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        font-size: 20px;
    }

    .list-my-songs,
    .list-my-playlist {
        font-size: 20px;
    }

    .add-playlist {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
}

@media (max-width: 1040px) {
    .block-menu {
        width: 850px;
    }

    .scroll-bar[type=range] {
        width: 700px;
    }

    .button-play,
    .button-pause,
    .button-stop,
    .button-add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .play,
    .pause,
    .stop,
    .add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        font-size: 20px;
    }

    .list-my-songs,
    .list-my-playlist {
        font-size: 20px;
    }

    .add-playlist {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
}

@media (max-width: 1040px) {
    .scroll-bar[type=range] {
        width: 590px;
    }
}

@media (max-width: 800px) {
    .block-menu {
        width: 650px;
    }

    .scroll-bar[type=range] {
        width: 520px;
    }

    .button-play,
    .button-pause,
    .button-stop,
    .button-add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .play,
    .pause,
    .stop,
    .add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        font-size: 20px;
    }

    .list-my-songs,
    .list-my-playlist {
        font-size: 20px;
    }

    .add-playlist {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .block-menu {
        width: 650px;
    }

    .button-play,
    .button-pause,
    .button-stop,
    .button-add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .play,
    .pause,
    .stop,
    .add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        font-size: 20px;
    }

    .list-my-songs,
    .list-my-playlist {
        font-size: 20px;
    }

    .add-playlist {
        width: 200px;
        height: 50px;
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .scroll-bar[type=range] {
        width: 410px;
    }
}

@media (max-width: 620px) {
    .block-menu {
        width: 500px;
    }

    .scroll-bar[type=range] {
        width: 370px;
    }

    .button-play,
    .button-pause,
    .button-stop,
    .button-add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .play,
    .pause,
    .stop,
    .add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        font-size: 20px;
    }

    .list-my-songs,
    .list-my-playlist {
        font-size: 20px;
    }

    .add-playlist {
        width: 200px;
        height: 50px;
        font-size: 15px;
    }
}


@media (max-width: 576px) {
    .block-menu {
        width: 450px;
    }

    .scroll-bar[type=range] {
        width: 320px;
    }

    .button-play,
    .button-pause,
    .button-stop,
    .button-add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .play,
    .pause,
    .stop,
    .add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        font-size: 13px;
    }

    .list-my-songs,
    .list-my-playlist {
        font-size: 13px;
    }

    .add-playlist {
        width: 200px;
        height: 50px;
        font-size: 13px;
    }
}


@media (max-width: 525px) {
    .block-menu {
        width: 350px;
    }

    .scroll-bar[type=range] {
        width: 220px;
    }

    .scroll-bar[type=range]::-webkit-slider-runnable-track {
        height: 8.4px;
    }

    .scroll-bar[type=range]::-webkit-slider-thumb {
        height: 30px;
        width: 15px;
        margin-top: -12px;
    }
}

@media (max-width: 425px) {
    .block-menu {
        width: 300px;
    }

    .scroll-bar[type=range] {
        width: 170px;
    }

    .scroll-bar[type=range]::-webkit-slider-thumb {
        height: 25px;
        width: 13px;
        margin-top: -9px;
    }

    .button-play,
    .button-pause,
    .button-stop,
    .button-add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .play,
    .pause,
    .stop,
    .add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 30px;
        font-size: 13px;
    }

    .list-my-songs,
    .list-my-playlist {
        font-size: 15px;
    }

    .add-playlist {
        width: 70px;
        height: 30px;
        font-size: 10px;
    }

    .add-song,
    .delete-song {
        font-size: 15px;
        padding: 0 25px;
    }
}

@media (max-width: 375px) {
    .block-menu {
        width: 250px;
    }

    .scroll-bar[type=range] {
        width: 120px;
    }

    .scroll-bar[type=range]::-webkit-slider-thumb {
        height: 22px;
        width: 10px;
        margin-top: -8px;
    }

    .button-play,
    .button-pause,
    .button-stop,
    .button-add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .play,
    .pause,
    .stop,
    .add-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 20px;
        font-size: 12px;
    }

    .list-my-songs,
    .list-my-playlist {
        font-size: 13px;
    }

    .add-playlist {
        width: 50px;
        height: 20px;
        font-size: 8px;
    }

    .add-song,
    .delete-song {
        font-size: 12px;
        padding: 0 20px;
    }
}
