.groups {
  margin: 2em 2em 2em 2em;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.position-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.groups {
  list-style-type: none;
  counter-reset: num;
  font-size: 16px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.groups .group-list {
  position: relative;
  margin: 0.5em 0 0 0;
  padding: 5px 0 5px 0;
  line-height: 1.5;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #e2e2e2;
}

.group-link {
  text-decoration: none;
}
.group-link {
  color: #324062; /* Цвет ссылок */
}
.group-link:visited {
  color: #324062; /* Цвет посещенных ссылок */
}
.group-link:active {
  color: #000000; /* Цвет активных ссылок */
}


.groups .group-list:before {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -5px;
  width: 38px;
  height: 35px;
  background: #324062;
  color: #fff;
  text-align: center;
  line-height: 28px;
  font-size: 15px;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 4px;
}

.title-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0,
  #cad5e2 2px 2px 0, #cad5e2 2px 2px 0,
  #cad5e2 3px 3px 0;
  font: bold 2em Arial, sans-serif;
}
